// size
$fullWidth: 100%;

// font
$font: 'Quicksand';
$title: 'Quicksand';

// base color
$nocolor: transparent;
$white: #ffffff;
$black: #000000;

// web color
$main_color: #3dd2fa;
$second_color: #404146;
$text_color: #696969;
$title_color: #333333;
$web_bg: $white;
$card_color: #1a1d24;
$text-black: $title_color;
$text-white: $white;

/* FONT SIZES
-------------------------------------------------- */
$font_size_xxs: 11px;
$font_size_xs: 12px;
$font_size_sm: 14px;
$font_size: 16px;
$font_size_l: 18px;
$font_size_xl: 20px;
$font_size_xxl: 22px;
$font_size_xxxl: 36px;

/* SCREEN SIZES
-------------------------------------------------- */
$screen-xs: 400px;
$screen-sm: 576px;
$screen-md: 767px;
$screen-lg: 991px;
$screen-ml: 1024px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

@import './mixin.scss';
